body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar css */

.navbar {
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 1px 5px;
}
.nav-link {
  font-weight: 300;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.footer {
  z-index: 5;
}
.footer a:hover {
  color: powderblue;
}
.notfound {
  min-height: 76.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goback {
  padding: 0.5rem;
}
.goback:hover {
  background-color: black;
  color: aliceblue;
}
.registerform {
  height: 93%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.FormBackgound {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  height: 100%;
}
.wi {
  width: 100%;
}

.custom-table th,
.custom-table td {
  border: 10px solid #343a40; /* Set your desired border color (dark color) */
}
.ProductLink {
  text-decoration: none;
  color: black;
}
.ant-checkbox-input {
  border: 2px solid black;
}
.Fixed {
  position: fixed;
  left: 0%;
  top: 11%;
}
.CartFixed {
  position: fixed;
  right: 1%;
  top: 11%;
}
.nav-item .dropdown a {
  text-decoration: none;
}
.AdminMenu {
  position: fixed;
  left: 2%;
  top: 11%;
}
.ProductDetailsCard {
  background-color: rgba(169, 169, 169, 0.367);
}
.priceSpan {
  color: green;
  font-weight: 700;
}
.ButtonBorder {
  border: 2px solid black;
}
.productimage {
  transition: transform 0.3s;
}
.productimage:hover {
  transform: scale(1.1);
}
